<div class="col-sm-12 row paddingleft0px paddingRight0px">
	<div class="col-sm-12 largerFontSize marginBottom10px">
		Sandy
	</div>
	<div class="col-sm-12" >

		<table class="calendar-table table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<td class="calendar-head" align="center">6:00</td>
				<td class="calendar-head" align="center">7:00</td>
				<td class="calendar-head" align="center">8:00</td>
				<td class="calendar-head" align="center">9:00</td>
				<td class="calendar-head" align="center">10:00</td>
				<td class="calendar-head" align="center">11:00</td>
				<td class="calendar-head" align="center">12:00</td>
				<td class="calendar-head" align="center">13:00</td>
				<td class="calendar-head" align="center">14:00</td>
				<td class="calendar-head" align="center">15:00</td>
				<td class="calendar-head" align="center">16:00</td>
				<td class="calendar-head" align="center">17:00</td>
				<td class="calendar-head" align="center">18:00</td>
				<td class="calendar-head" align="center">20:00</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-purple padding0px row marginLeft0px marginRight3px">
						<div class="calendar-panels calendar-panels-purple stripe inlineBlock col-sm-1">

						</div>
						<div class="calendar-panels col-sm-3">

						</div>
						<div class="calendar-panels calendar-panels-purple stripe col-sm-4">

						</div>
						<div class="calendar-panels col-sm-2">

						</div>
						<div class="calendar-panels calendar-panels-purple stripe col-sm-2">

						</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class="calendar-panels calendar-panels-purple">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 1</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">Sandy</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="3">
					<div class="calendar-panels calendar-panels-purple">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 5</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">Sandy</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-blue">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 2</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">Tony</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-blue">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 2</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">Tony</div>
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-green">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 4</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">Jessica</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-orange">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 3</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">George</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<div class="calendar-panels calendar-panels-orange">
						<div class="col-sm-6 paddingLeft0px paddingRight0px largerFontSize">Client 3</div>
						<div class="col-sm-6 paddingLeft0px paddingRight0px alignR smallerFontSize">George</div>
					</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>


		<script type="text/ng-template" id="newAppointment.html.inline">
			<div class="modal-header">
				<h3 class="modal-title">New appointment</h3>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button class="btn btn-m btn-primary" ng-click="closeLoginFail()">Close</button>
			</div>
		</script>
	</div>
</div>