<table class="calendar-table table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
	<thead>
	<tr>
		<td></td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					7:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					8:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					9:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					10:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					11:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					12:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					13:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					14:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					15:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					16:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					17:00
				</div>
			</div>
		</td>
		<td class="calendar-head" align="center">
			<div>
				<div class="row marginLeft0px calendar-time-position">
					<div class="col-sm-3 padding0px calendar-head-red">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
					<div class="col-sm-3 padding0px calendar-head-green">
						&nbsp;
					</div>
				</div>

				<div class="calendar-time-position calendar-head smallerFontSize calendar-head-dateText marginTop4px">
					18:00
				</div>
			</div>
		</td>
	</tr>
	</thead>
	<tbody>
	<!--<tr ng-repeat="row in scheduleData" class="rowHover">-->
		<!--<td>Sandy</td>-->
		<!--<td></td>-->
		<!--<td colspan="6" class="paddingLeft0px paddingRight0px">-->
			<!--<div class="roundedBorder padding5px calendar-panels-purple row marginLeft0px marginRight0px boxDropShadow2">-->
				<!--<div class="calendar-panels calendar-panels-purple stripe inlineBlock col-sm-2">-->

				<!--</div>-->
				<!--<div class="calendar-panels col-sm-">-->

				<!--</div>-->
				<!--<div class="calendar-panels calendar-panels-purple stripe col-sm-4">-->

				<!--</div>-->
				<!--<div class="calendar-panels col-sm-2">-->

				<!--</div>-->
				<!--<div class="calendar-panels calendar-panels-purple stripe col-sm-2">-->

				<!--</div>-->
			<!--</div>-->
		<!--</td>-->
		<!--<td></td>-->
		<!--<td colspan="4">-->
			<!--<div class="calendar-panels calendar-panels-purple boxDropShadow2">-->

			<!--</div>-->
		<!--</td>-->
	<!--</tr>-->
	<tr>
		<td>Sandy</td>
		<td></td>
		<td colspan="6" class="paddingLeft0px paddingRight0px">
			<div class="calendar-panels calendar-panels-purple boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td colspan="4">
			<div class="calendar-panels calendar-panels-purple boxDropShadow2">

			</div>
		</td>
	</tr>
	<tr>
		<td>Tony</td>
		<td></td>
		<td colspan="3">
			<div class="calendar-panels calendar-panels-blue boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Jessica</td>
		<td></td>
		<td colspan="4">
			<div class="calendar-panels calendar-panels-green boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>George</td>
		<td></td>
		<td></td>
		<td colspan="4">
			<div class="calendar-panels calendar-panels-orange boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Lucy</td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="4">
			<div class="calendar-panels calendar-panels-grey boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Paul</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="3">
			<div class="calendar-panels calendar-panels-grey boxDropShadow2">

			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Sonia</td>
		<td colspan="12" class="calendar-holiday-item">Holiday</td>
	</tr>
	<tr>
		<td>Rupert</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="4">
			<div class="calendar-panels calendar-panels-grey">

			</div>
		</td>
		<td></td>
	</tr>
	</tbody>
</table>
